<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="domainController" value="DC1"/>
    <add key="domainName" value="domain.com"/>
    <add key="domainUser" value="Administrator"/>
    <add key="domainPass" value="Pass999"/>
    <add key="SamAccountNameOfUserToInvestigate" value="vs00saini"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>